* {
    margin: 0;
    padding: 0;
}

button {
    outline: 0;
}

a {
    color: black;
}

.container-fluid {
    margin: auto;
    width: 80%;
}

div .header {
    justify-content: space-around;
    width: 80%;
    position: fixed;
    border-bottom: 1px solid gray;
    z-index: 1;
    background-color: aliceblue;
}

#homeMenu {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
}

#homeMenu ul {
    list-style: none;
    display: flex;
}

#homeMenu ul li {
    font-size: 25px;
    margin: auto 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
    outline: 0;
}

#homeMenu ul li:hover {
    color: red;
}

a:hover {
    color: red;
    text-decoration: none;
}

#inp {
    display: flex;
    justify-content: center;
    margin: auto;
}

#inp input {
    padding: 5px;
    border-radius: 5px;
}

#inp input:focus {
    outline: 0;
}

.header h1 {
    padding: 5px;
    text-align: center;
    font-family: "Trade Winds", cursive;
    font-size: 36px;
}

#headBtn {
    display: flex;
    align-items: center;
}


#headBtn ul {
    list-style: none;
    display: flex;

}

#headBtn ul li {
    padding: 3px;
    margin: 0 3px;
}

#headBtn ul li button {
    box-shadow: 7px 2px 10px -2px #46f2f2;
    background: linear-gradient(to bottom, #47e6de 5%, #2a9bbd 100%);
    background-color: #47e6de;
    border-radius: 22px;
    border: 6px solid #24878a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 5px;
    text-decoration: none;
    text-shadow: 3px 1px 0px #244885;
}

#headBtn ul li button:hover {
    background: linear-gradient(to bottom, #2a9bbd 5%, #47e6de 100%);
    background-color: #2a9bbd;
}

/* srodek */

main .kontakt {
    text-align: center;
    padding-top: 100px;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.fotterNav {
    background-color: aliceblue;
    text-align: center;
}

.fotterNav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
}

.fotterNav ul li {
    margin: 0 10px;
    padding: 0 10px;
}

#copy {
    background-color: aliceblue;
    text-align: center;
    margin: 0 auto;
}

#copy p {
    margin: 0;
}